<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oa.system.mapper.RolePermissionMapper">

    <resultMap id="BaseResultMap" type="com.oa.system.entity.RolePermission">
        <id column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="permission_id" property="permissionId"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="selectByRoleId" resultMap="BaseResultMap">
        SELECT * FROM sys_role_permission WHERE role_id = #{roleId}
    </select>

    <insert id="insert">
        INSERT INTO sys_role_permission (role_id, permission_id, create_by, create_time)
        VALUES (#{roleId}, #{permissionId}, #{createBy}, #{createTime})
    </insert>

    <delete id="deleteByRoleId">
        DELETE FROM sys_role_permission WHERE role_id = #{roleId}
    </delete>

    <delete id="deleteByPermissionId">
        DELETE FROM sys_role_permission WHERE permission_id = #{permissionId}
    </delete>

</mapper>
